body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background: rgba(255,255,255,0.8);
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

h1 {
  color: pink;
}

input {
  width: 300px;
  height: 40px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid pink;
  border-radius: 5px;
  /* color: white; */
}

button {
  width: 320px;
  height: 45px;
  margin-top: 10px;
  padding: 8px;
  background: pink;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
