body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  /* background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

h1 {
  margin-bottom: 20px;
  color: palevioletred;
}

textarea {
  width: 400px;
  height: 120px;
  padding: 10px;
  border: 2px solid pink;
  border-radius: 10px;
}

select {
  width: 200px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid pink;
  border-radius: 5px;
}

button {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  background: pink;
  border: none;
  border-radius: 5px;
  color: white;
}

#translated {
  margin-top: 15px;
  font-size: 18px;
  color: black;
  background: #fff;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid pink;
}
