body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  background-image: url("/images/background.jpg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 20px;
  color: palevioletred;
}

.boxes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

textarea {
  width: 400px;
  height: 220px;
  padding: 10px;
  border: 2px solid pink;
  border-radius: 10px;
  background-color: rgb(28, 2, 75);
  color: white;
}


#translated {
  width: 400px;
  height: 220;
  padding: 10px;
  border: 2px solid pink;
  border-radius: 10px;
  color: white;


}

.language-select {
  width: 200px;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: pink;
  color: white;
}

button {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  background: pink;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

